USE [UAIOS_DB]
GO
/****** Object:  Table [dbo].[ARCHIVO]    Script Date: 5/20/2025 9:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARCHIVO](
	[ID_ARCHIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TAMANO] [int] NOT NULL,
	[ID_DIRECTORIO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[ID_ARCHIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECTORIO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECTORIO](
	[ID_DIRECTORIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_PADRE] [int] NOT NULL,
 CONSTRAINT [PK_DIRECTORIO] PRIMARY KEY CLUSTERED 
(
	[ID_DIRECTORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ALTA_ARCHIVO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ALTA_ARCHIVO]

@NOMBRE VARCHAR(50),
@TAMANO INT,
@ID_DIRECTORIO INT,
@ID_USUARIO INT

AS

BEGIN

INSERT INTO ARCHIVO (NOMBRE, TAMANO, ID_DIRECTORIO, ID_USUARIO )
VALUES  (@NOMBRE, @TAMANO, @ID_DIRECTORIO, @ID_USUARIO);


END

GO
/****** Object:  StoredProcedure [dbo].[ALTA_DIRECTORIO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ALTA_DIRECTORIO]

@IDPADRE INT,
@IDUSUARIO INT,
@NOMBRE VARCHAR(50)

AS

BEGIN

INSERT INTO DIRECTORIO(NOMBRE, ID_USUARIO, ID_PADRE)
VALUES (@NOMBRE, @IDUSUARIO, @IDPADRE);



END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_ARCHIVOS_DIRECTORIO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[LISTAR_ARCHIVOS_DIRECTORIO]

@ID_DIRECTORIO INT,
@ID_USUARIO INT

AS

BEGIN

SELECT *
FROM ARCHIVO 
WHERE ID_USUARIO = @ID_USUARIO AND ID_DIRECTORIO = @ID_DIRECTORIO;




END
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_DIRECTORIOS_USUARIO_DIRECTORIO]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LISTAR_DIRECTORIOS_USUARIO_DIRECTORIO]

@IDPADRE INT,
@IDUSUARIO INT


AS
BEGIN

SELECT * 
FROM DIRECTORIO
WHERE ID_PADRE = @IDPADRE AND ID_USUARIO = @IDUSUARIO;


END

GO
/****** Object:  StoredProcedure [dbo].[LISTAR_USUARIOS]    Script Date: 5/20/2025 9:22:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LISTAR_USUARIOS]

AS

BEGIN

SELECT * 
FROM USUARIO;

END
GO
